body{
font-family:Arial;
background:#f0f2f5;
margin:0;
}

.friends-containers{
max-width:500px;
margin:auto;
background:white;
padding:15px;
}

/* title */

.title-row{
display:flex;
justify-content:space-between;
align-items:center;
}

.title-row span{
color:red;
}

.title-row a{
color:#1877f2;
text-decoration:none;
font-weight:600;
}

/* card */

.friend-card{
display:flex;
gap:12px;
margin-top:20px;
}

.profiless{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
}

/* info */

.friend-info{
flex:1;
}

.name-row{
display:flex;
justify-content:space-between;
align-items:center;
}

.name-row h4{
margin:0;
font-size:18px;
}

.time{
color:gray;
font-size:14px;
}

/* mutual */

.mutual{
display:flex;
align-items:center;
gap:5px;
margin-top:4px;
color:gray;
font-size:14px;
}

.mutual img{
width:18px;
height:18px;
border-radius:50%;
}

/* buttons */

.buttons{
display:flex;
gap:10px;
margin-top:8px;
}

.confirms{
background:#1877f2;
color:white;
border:none;
padding:8px 20px;
border-radius:6px;
font-weight:600;
}

.delete{
background:#e4e6eb;
border:none;
padding:8px 20px;
border-radius:6px;
font-weight:600;
}

/* mobile */

@media(max-width:400px){

.profiless{
width:60px;
height:60px;
}

.name-row h4{
font-size:16px;
}

}