/* Header */

.header{
background:white;
border-bottom:1px solid #ddd;
font-family:Arial;
width:100%;
position:sticky;
top:0;
z-index:1000;
}

/* top bar */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 15px;
/* max-width:1000px; */
margin:auto;
}

.left{
display:flex;
align-items:center;
}

.menu{
font-size:22px;
margin-right:10px;
cursor:pointer;
}

.logo{
color:#1877f2;
font-size:26px;
margin:0;
}

.right{
display:flex;
align-items:center;
}

.icon{
margin-right:15px;
font-size:20px;
cursor:pointer;
}

.header-profile{
width:35px;
height:35px;
border-radius:50%;
object-fit:cover;
cursor:pointer;
}

/* second row icons */

.menu-icons{
display:flex;
justify-content:space-around;
align-items:center;
padding:10px 0;
border-top:1px solid #eee;
border-bottom:1px solid #eee;
background:white;
/* max-width:900px; */
margin:auto;
}

.menu-icons span{
font-size:22px;
cursor:pointer;
color:black;
padding:8px 20px;
border-radius:8px;
transition:0.2s;
}

/* Hover */

.menu-icons span:hover{
background:#f0f2f5;
}

/* Active */

.menu-icons .active{
color:#1877f2;
border-bottom:3px solid #1877f2;
}

/* post box */

.post-box{
display:flex;
align-items:center;
padding:10px;
gap:10px;
max-width:700px;
margin:10px auto;
background:white;
border-radius:10px;
}

.post-profile{
width:35px;
height:35px;
border-radius:50%;
}

.post-box input{
flex:1;
padding:10px;
border-radius:20px;
border:1px solid #ddd;
font-size:16px;
}

.photo{
font-size:20px;
color:green;
cursor:pointer;
}

/* ---------- Tablet ---------- */

@media (max-width:768px){

.topbar{
padding:10px;
}

.menu-icons span{
padding:8px 12px;
font-size:20px;
}

.post-box{
margin:8px;
}

}

/* ---------- Mobile ---------- */

@media (max-width:480px){

.logo{
font-size:22px;
}

.menu{
font-size:20px;
}

.icon{
font-size:18px;
margin-right:10px;
}

.menu-icons span{
font-size:18px;
padding:6px 10px;
}

.post-box input{
font-size:14px;
}

}

/* body {
        background-color: #121212; 
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    } */